/*=================
		Header
===================*/

nav li,
footer li {
	display: inline;
	margin:0;

}

.navleft {
 background-color: #293540;
 padding: 0 1em;
 transform: rotate(-7deg);
 border-radius: 10px/30px;
}

.navright {
	margin-top:1em;
	padding: 0 1em;
	background-color: #293540;
	font-size: 1.275em;
	transform: rotate(5deg);
	border-radius: 10px/30px;
}

nav {
	margin-top: 2em;
	text-align: center;
	border-radius: 40px;
	
}

nav li {
	display: inline;	
	
}

nav a {
	color: white;
}

nav a:hover{
	color: gray;
}

header{

	
}


/*==================
		Font
====================*/

h1 {
	color: #6D90A6;
	font-size: 2.5em;
	
	
}

h2 {
	font-size: 1.75em;
	
}

.deck {
	margin-top: -.75em;
	margin-bottom: 2em;
	padding-left:.75em;
	padding-bottom: .75em;
	color: white;
	padding-right: -10em;
	
	
}

h1.top {
	padding-left:.25em;
	color: white;
	
}

.top {
	background-color: #6B8C4A;
}

.deck2 {
	
	margin-bottom: .175em;
	padding-left:.75em;
	color: white;
	padding-right: -10em;
	
	background-color: #A66E29;
}

h4.deck {
	margin-bottom: 0;
	margin-top: 3em;
	
}

p {
	color: #4D4C4B;
}

section p,
footer li {
	color: black;
}

/*==================
		Body
====================*/

body {
	background: url('../img/confectionary.png');
	background-color: blue;
  background-blend-mode: screen;

}


img {
transform: rotate(30deg);
}

.parting {
	margin-top: 5em;
} 

img, 
object {
max-width: 100%;
padding: 1.5em 0 0 0;
opacity:.75;
}

article {
	max-width: 100%;
}

/*img {
	margin: 2em 0;
}*/

li {
	color: black;
	list-style: none;
}

.part1,
.part6
 {
	background-color: #C0D99A;
	border-radius: 45px 15px;
	margin-bottom: .75em;
	padding: .5em;

}

.part2,
.part3,
.part4 {
	margin: 1em;
	padding: 1em;
}

.part2 {
	border-radius: 45px 15px;
	background-color: #C0D99A;
}

.part3 {
	border-radius: 45px 15px;
	background-color: #C0D99A;
	margin: 1em 0 1em 5em;
}

.part4 {
	border-radius: 45px 15px;
	background-color: #C0D99A;
}

.part7{
	border-radius: 45px 15px;
	padding: 1em;
	background-color: #C0D99A;
}



.aside {
	border-left: .125em #C0D99A solid;
	margin-bottom: 2em;
}

/*==================
		Buttons
====================*/

button {
	background: #3C4F4E;
}

a.medium.round.button {
	background: #3C4F4E;
}

a.medium.round.button:hover {
	background: #9E413C;
}

/*==================
		Footer
====================*/

footer {
	border-top: .125em #83917F solid;
	padding-top: .5em;
	width: 100%;
	background-color:;

}

footer li {
	font-size: .5em;
	padding: 0 1em;
}

footer a {
	font-size: 1.5em;
	color: black;
}

footer a:hover {
	color: #9E413C;
}



